tests
.git
.gitignore
data
config
.ipython
.pytest_cache
.mypy_cache
.ruff_cache
.activate
Makefile
*.egg-info
*.toml.in
*/.mypy_cache
*/.ruff_cache
*/.pytest_cache
*/Makefile
*/*.toml.in
*/*.egg.info
*/*.gitignore
*/doc
*/docker
*/tests
*/python/.mypy_cache
*/python/.ruff_cache
*/python/.pytest_cache
*/python/Makefile
*/python/*.toml.in
*/python/*.egg.info
*/python/*.gitignore
*/python/*/tests
python_modules/*/.pytest_cache
python_modules/*/.mypy_cache
python_modules/*/.ruff_cache
python_modules/*/Makefile
python_modules/*/*.toml.in
python_modules/*/*.egg-info
python_modules/*/.gitignore
python_modules/*/tests
qjazz-server/python/qjazz_rpcw/_grpc/protos
qjazz-server/target/debug
qjazz-server/target/release/build
qjazz-server/target/release/deps
