stages:
  - lint
  - build
  - test
  - doc 
  - docker
  - deploy
  - release
  - post-release

variables:
  DOCKER_DRIVER: overlay2
  UV_LINK_MODE: copy

#-----------------
# Lint
#-----------------

lint:
  image: ${REGISTRY_URL}/factory-ci-runner:qgis-release
  stage: lint
  script:
    - make install lint
  tags:   
    - factory-plain

#-----------------
# Build
#-----------------

build-binaries:
  image: ${REGISTRY_URL}/factory-ci-runner:rust-noble
  stage: build
  script:
    - make -C qjazz-server build
  environment:
    name: snap
  artifacts:
    paths:
    - "qjazz-server/target/release/qjazz-rpc-bin"
    - "qjazz-server/target/release/qjazz-map-bin"
  tags:
  - factory-plain


.build-extensions:
  image: ${REGISTRY_URL}/factory-ci-runner:qgis-${QGIS_FLAVOR}
  stage: build
  script:
    - make -C qjazz-contrib build
  environment:
    name: snap
  artifacts:
    paths:
    - "qjazz-contrib/src/qjazz_core/qgis/*.so"
  tags:
  - factory-plain

# XXX We cannot use artifacts with parallel/matrix
build-extensions:3.34:
  extends: .build-extensions
  variables:
    QGIS_FLAVOR: '3.34'
    QJAZZ_NO_BUILD_EXT_INSTALL: '1'

build-extensions:ltr:
  extends: .build-extensions
  variables:
    QGIS_FLAVOR: 'ltr'

build-extensions:release:
  extends: .build-extensions
  variables:
    QGIS_FLAVOR: 'release'


#-----------------
# Tests
#-----------------

.tests:
  image: ${REGISTRY_URL}/factory-ci-runner:qgis-${QGIS_FLAVOR}
  stage: test
  resource_group: qjazz_tests
  script:
    - make install
    - make test
  tags:   
    - factory-plain

tests:ltr:
  extends: .tests
  dependencies:
      - build-extensions:ltr
  variables:
    QGIS_FLAVOR: "ltr"

tests:release:
  extends: .tests
  dependencies:
      - build-extensions:release
  variables:
    QGIS_FLAVOR: "release"

tests:3.34:
  extends: .tests
  dependencies:
      - build-extensions:3.34
  variables:
    QGIS_FLAVOR: "3.34"
    QJAZZ_NO_BUILD_EXT_INSTALL: '1'


#-----------------
# Doc
#-----------------

doc-build:
  image: ${REGISTRY_URL}/factory-ci-runner:build-doc
  stage: doc
  script: 
    - make -C doc
    - make -C qjazz-processes/doc html
  tags:
    - factory-plain
  allow_failure: true
  artifacts:
    paths: 
      - doc/build/html
      - doc/doc.manifest
      - qjazz-processes/doc/build/html
      - qjazz-processes/doc/doc.manifest
    expire_in: 1 week
  only:
    refs:
    - tags
    - main

doc-deploy:
  stage: doc
  script:
    - upload_to_doc_server doc/build/html library/ library/$CI_PROJECT_NAME/
    - upload_to_doc_server doc/doc.manifest library/$CI_PROJECT_NAME/
    - upload_to_doc_server qjazz-processes/doc/build/html library/qjazz-processes/
    - upload_to_doc_server qjazz-processes/doc/doc.manifest library/qjazz-processes/
  allow_failure: true
  needs:
    - doc-build
  tags:
    - libs-doc  
  only:
    refs:
    - tags
    - main

# Docker build
include: '/docker/.gitlab-ci.yml'

  

