pytest
pytest-asyncio
pytest-aiohttp
ruff
mypy
mypy-extensions
types-protobuf<5
types-psutil
types-PyYAML
types-toml
types-requests
types-aiofiles
sphinx
sphinx-rtd-theme
sphinxcontrib-httpdomain
swagger-plugin-for-sphinx
grpcio-tools
pipdeptree
bandit
build >= 1.2.2
