# Ruff configuration
# See https://docs.astral.sh/ruff/configuration/
line-length = 120
target-version = "py310"
extend-exclude = [
    "_grpc",
]

[lint]
extend-select = ["E", "F", "I", "ANN", "W", "T", "COM", "RUF"]
ignore = ["ANN101", "ANN102", "ANN002", "ANN003", "RUF100", "RUF029"]

[format]
indent-style = "space"

[lint.per-file-ignores]
"tests/*" = ["T201"]

[lint.isort]
lines-between-types = 1
known-first-party = [
    "py_qgis_contrib", 
    "py_qgis_cache",
    "py_qgis_rpc",
    "py_qgis_admin",
    "py_qgis_http",
    "py_qgis_processes",
]
#known-third-party = [
#    "qgis",
#]
section-order = [
    "future",
    "standard-library",
    "third-party",
    "qgis",
    "first-party",
    "local-folder",
]

[lint.isort.sections]
qgis = ["qgis", "processing"]

[lint.flake8-annotations]
ignore-fully-untyped = true
suppress-none-returning = true
suppress-dummy-args = true
